<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygarden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".PlantWaterService"
            android:exported="false" />
        <service android:name=".GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".PlantWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/plant_widget_provider_info" />
        </receiver>

        <activity
            android:name=".ui.PlantDetailActivity"
            android:label="@string/title_activity_plant_detail" />
        <activity
            android:name=".ui.AddPlantActivity"
            android:label="@string/title_activity_add_plant" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.PlantContentProvider"
            android:authorities="com.example.mygarden"
            android:exported="true" />
    </application>

</manifest>